In [1]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import numpy as np
import datetime
import yfinance as yf

In [2]:
# Load .env enviroment variables
load_dotenv()

True

In [3]:
# defining the date for yahoo finance API
today = datetime.date.today().isoformat()
today

'2022-04-15'

In [4]:
# downloading all stock, crypto and index data
data = yf.download("DX-Y.NYB COIN GC=F ^GSPC ^IXIC BTC-USD", start="2014-09-17", end=today)

[*********************100%***********************]  6 of 6 completed

In [5]:
# trimming the data
securities_data = data['Close']
securities_data = securities_data.rename(columns={'DX-Y.NYB': 'USDX','GC=F': 'GCF', '^GSPC': 'GSPC', '^IXIC': 'IXIC'}).copy(deep=True)
securities_data.tail()

,BTC-USD,COIN,USDX,GCF,GSPC,IXIC
Date,,,,,,
2022-04-11,39521.902344,153.869995,99.930000,1944.300049,4412.529785,13411.959961
2022-04-12,40127.183594,149.850006,100.290001,1972.099976,4397.450195,13371.570312
2022-04-13,41166.730469,154.789993,99.879997,1981.000000,4446.589844,13643.589844
2022-04-14,39935.515625,147.289993,100.320000,1970.900024,4392.589844,13351.080078
2022-04-15,40062.738281,NaN,100.524002,NaN,NaN,NaN

In [6]:
# deleting the weekends from the data
securities_data = securities_data.dropna(subset=['USDX', 'GCF', 'GSPC', 'IXIC'], how='all')
securities_data.head()

               BTC-USD  COIN       USDX          GCF         GSPC         IXIC
Date
2014-09-17  457.334015   NaN  84.699997  1234.400024  2001.569946  4562.189941
2014-09-18  424.440002   NaN  84.320000  1225.699951  2011.359985  4593.430176
2014-09-19  394.795990   NaN  84.800003  1215.300049  2010.400024  4579.790039
2014-09-22  402.152008   NaN  84.669998  1216.800049  1994.290039  4527.689941
2014-09-23  435.790985   NaN  84.660004  1221.000000  1982.770020  4508.689941

In [13]:
# creating a dataframe with price percent changes
securities_pct = securities_data.pct_change()
securities_pct = securities_pct.iloc[1:]
securities_pct.head()

             BTC-USD  COIN      USDX       GCF      GSPC      IXIC
Date
2014-09-18 -0.071926   NaN -0.004486 -0.007048  0.004891  0.006848
2014-09-19 -0.069843   NaN  0.005693 -0.008485 -0.000477 -0.002969
2014-09-22  0.018632   NaN -0.001533  0.001234 -0.008013 -0.011376
2014-09-23  0.083647   NaN -0.000118  0.003452 -0.005777 -0.004196
2014-09-24 -0.028881   NaN  0.004607 -0.001966  0.007832  0.010320

In [8]:
# creating the inflation data frame
inflation = pd.read_csv("US_Inflation.csv",index_col="Year", parse_dates=True,infer_datetime_format=True)
inflation.head()

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,HALF1,HALF2
Year,,,,,,,,,,,,,,
2012-01-01,227.842,228.329,228.807,229.187,228.713,228.524,228.590,229.918,231.015,231.638,231.249,231.221,NaN,NaN
2013-01-01,231.679,232.937,232.282,231.797,231.893,232.445,232.900,233.456,233.544,233.669,234.100,234.719,NaN,NaN
2014-01-01,235.288,235.547,236.028,236.468,236.918,237.231,237.498,237.460,237.477,237.430,236.983,236.252,NaN,NaN
2015-01-01,234.747,235.342,235.976,236.222,237.001,237.657,238.034,238.033,237.498,237.733,238.017,237.761,NaN,NaN
2016-01-01,237.652,237.336,238.080,238.992,239.557,240.222,240.101,240.545,241.176,241.741,242.026,242.637,NaN,NaN

In [9]:
# slicing the data
inflation_df = inflation.drop(inflation.iloc[:, 12:], axis = 1)
inflation_df.head()

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Year,,,,,,,,,,,,
2012-01-01,227.842,228.329,228.807,229.187,228.713,228.524,228.590,229.918,231.015,231.638,231.249,231.221
2013-01-01,231.679,232.937,232.282,231.797,231.893,232.445,232.900,233.456,233.544,233.669,234.100,234.719
2014-01-01,235.288,235.547,236.028,236.468,236.918,237.231,237.498,237.460,237.477,237.430,236.983,236.252
2015-01-01,234.747,235.342,235.976,236.222,237.001,237.657,238.034,238.033,237.498,237.733,238.017,237.761
2016-01-01,237.652,237.336,238.080,238.992,239.557,240.222,240.101,240.545,241.176,241.741,242.026,242.637